@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for the Alerts Feed */
.custom-scrollbar::-webkit-scrollbar {
    width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #374151;
    border-radius: 20px;
}